<div class="container">
    <div class="row">
        {{#each products}}
            <div class="col-md-3">
                <div class="card text-center fw-light">
                    <img src="{{this.thumbnails}}" class="img-fluid" alt="{{this.title}}">
                <div class="card-body">
                    <p class="card-text">{{this.title}}</p>
                    <p class="card-text">{{this.price}}</p>
                </div>
            </div>
        </div>
            

        {{/each}}    
        
        </ul>
    </div>
</div>